.content-wrap{
	max-width: 1264px;
	width: 100%;
	margin: 0 auto;
}

.circle_img{
	border-radius: 50%;
}

.white_bg{
	background-color: white;
}

.dark-container{
	background-color: rgb(238, 240, 235);
}

.subheader_txt{
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	width: 100%;
	font-family: Verdana;
}

.header_txt{
	padding-top: 1em;
	text-align: center;
	width: 100%;
	font-family: Arial;
}

.header_txt h1{
	font-weight: 600;
	font-size: 3rem;
}

.light_txt{
	color: white;
}

/*
#profile_header_txt{
	text-align: center;
	width: 100%;
	padding-bottom: 5px;
	color: white;
}

#profile_top{
	padding-top: 2em;
	background-color: #D4511e;
	padding-bottom: 1em;
}

#profile_img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 250px;
	width: 250px;
	object-fit: contain;
	background-color: white;
}*/

.center_card{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-top: 1em;
	padding-bottom: 1em;
}

@media screen and (max-width: 500px){
	.center_card{
		width: 90%;
	}
}

.card-body .card-text{
	max-width: 1024px;
	margin: 0 auto;
}

.bottom_nav{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0.25em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border-radius: 10%;
}

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down_arrow{
  transform: rotate(45deg) translateY(-4px);
  -webkit-transform: rotate(45deg) translateY(-4px);
}

.mw-650{
	max-width: 650px;
}

.mw-750{
	max-width: 750px;
}

.edu-title{
	font-size: 175%;
}

.img-project{
	max-width: 150px !important;
	height: 150px;
	object-fit: cover;
}

.project{
	width: 50% !important;
}

@media screen and (max-height: 850px) and (max-width: 700px){
	.project{
		width: 100% !important;
	}
}

.project button{
	background-color: white;
}

.hidden{
	display: none !important;
}

.logo-img{
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 50%;
}