
html, body, div, h1, p, a, video{
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
}

body{
	font-size: 20px;
}

.home{
	text-align: center;
	margin: 0;
	width: 100%;
	height: 100%;
	color: white;
}

.home_textcontainer{
	position: relative;
	top: 10%;
}

.home_title{
	font-size: 400%;
}

.home_desc{
	padding-top: 1%;
}

.home_about{
	display: inline-block;
	background-color: #F4511e;
	border-radius: 5px;
	border: none;
	text-decoration: none;
	min-width: 10%;
	font-size: 125%;
	cursor: pointer;
	margin-top: 5%;
	padding: 1rem 0.5rem;
	transition: all 0.5s;
	color: white;
}

/* animation for link */
.home_about a{
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	color: white;
}

.home_about a:after{
	font-size: 80%;
	content: ">>";
	position: absolute;
	opacity: 0;
	right: -0.8rem; /* shift of arrow */
	padding-top: 2%;
	transition: 0.5s;
}

.home_about:hover a{
	padding-right: 2.5rem; /* shift of link */
}

.home_about:hover a:after{
	opacity: 1;
	right: 0;
}

.home_about a:visited{
	color: white;
}

.home_bimg{
	position: absolute;
	z-index: -1;
	left: 0;
	top: 0;
	min-width: 100%;
	height: 100%;
}

@media screen and (max-height: 480px), (max-width: 325px){
	.home{
		background:url("../pictures/IMG_2344.JPG") no-repeat fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
	}

	.home_bimg{
		display: none;
	}

	body{
		font-size: 14px;
	}

	.home_textcontainer{
		top: 5%;
	}
	

}

/*
#sideBar{
	font-size: 150%;
	height: 100%;
	background-color: #8780ba;
	position: fixed;
	z-index: 1;
	text-align: center;
	padding-top: 5px;
	display: none;
	flex-direction: column;
	right: 0;
	width: 20%;
	min-width: 200px;
	min-height: 100%;
}

.sideBar_links{
	padding-top: 20%;
	width: 50%;
	margin: 0 25%;
}

.sideBar_links a{
	text-decoration: none;
}

.sideBar_links a:visited{
	color: white;
}

.side{
	z-index: 2;
	position: fixed;
	right: 0;
	margin-right: 1%;
	top: 2%;
}

.sideBtn{
	color: white;
	font-size: 350%;
	margin-right: 15px;

}

@media screen and (max-height: 480px), (max-width: 325px){
	.sideBtn{
		margin-right: 5px;
	}
	.side{
		top: 0%;
	}

}

.sideBtn:hover{
	cursor: pointer;
}*/


.Dark{
	background-color: #333;
	min-height: 100%;
}


.firstImages{
	display: block;
	margin: auto;
	width: 82.75%;
	font-size: 0px;
}

.resizeFirstImages{
	width: 504px;
	height: 378px;
}
