
html, body, div, h1, p, a, video{
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
}

.home{
	text-align: center;
	margin: 0;
	width: 100%;
	height: 100%;
	color: white;
	font-family: Times;
	background:url("../pictures/IMG_2344.JPG") no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.home_textcontainer{
	position: relative;
	top: 10%;
	font-size: 20px;
}

.home_title{
	font-size: 400%;
}

.home_desc{
	padding-top: 1%;
}

.home_about{
	display: inline-block;
	background-color: #F4511e;
	border-radius: 5px;
	border: none;
	text-decoration: none;
	min-width: 10%;
	font-size: 125%;
	cursor: pointer;
	margin-top: 5%;
	padding: 1rem 0.5rem;
	transition: all 0.5s;
	color: white;
}

/* animation for link */
.home_about a{
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	color: white;
}

.home_about a:after{
	font-size: 80%;
	content: ">>";
	position: absolute;
	opacity: 0;
	right: -0.8rem; /* shift of arrow */
	padding-top: 2%;
	transition: 0.5s;
}

.home_about:hover a{
	padding-right: 2.5rem; /* shift of link */
}

.home_about:hover a:after{
	opacity: 1;
	right: 0;
}

.home_about a:visited{
	color: white;
}

@media screen and (max-height: 480px) and (max-width: 375px){
	.home_textcontainer{
		font-size: 14px;
	}

	.home_textcontainer{
		top: 5%;
	}
	

}

