html, body, div, h1, p, a, video{
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
}

body{
	font-size: 20px;
}

.home{
	text-align: center;
	align-items: center;
	max-width: 960px;
	padding-top: 1.5rem;
}

.home_pic_body{

}

.profile_pic{
	display: block;
	height: 250px;
	width: 250px;
	object-fit: cover;
	border-radius: 50%;
}

.link_to_about{
	color: black;
	text-decoration: none;
}

.link_to_about:hover{
	color: black;
	text-decoration: none;
}

.link_to_about:visited{
	color: black;
	text-decoration: none;
}

.home_title{

}

.home_desc{
	margin-top: 3rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home_contact{
	margin-top: 2.5rem;
	font-size: 150%;
	color: rgba(0, 35, 235, 0.685);
}

.col a{
	color: inherit;
}
