html, body{
	height: 100%;
}
.Page{
    background-color: rgb(220, 220, 220);
	bottom: 0px;
	min-height: 100%;
 }
 .FileHeader{
    background-color: orange;
 }
 .Header {
    color: white;
    text-align: center;
	background-color: #333;
    border-bottom: solid black;
 }
 .Image {
    image-orientation: -90deg;
    text-align: center;
 }
 .Body{
 	margin: auto;
	text-align: center;
 }

 tr:hover {background-color:#f5f5f5;}

 .NavBar{
 	list-style-type: none; /* removes bullet point */ 
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
 } 

 .navBarLI{
	float: left;
 }

 .NavBarA{
	display: block;
	padding: 8px;
	color: white;
	background-color: #333;
 }

.End{
	min-width: 99.15%;
	min-height: 40px;
	position: fixed;
	bottom: 0px;
	background-color: #333;
	background-position: center;
	text-align: center;
	line-height: 40px;
}

.EndText{
	color: white;
	text-transform: uppercase;
	vertical-align: middle;
}

#table{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

#tTable{
	margin-left: auto;
	margin-right: auto;
}

.tDiv{
	float: left;
}

.tWins{
	float: left;
	margin-left: 30px;
}

