.Page{
    background-color: rgb(220, 220, 220);
 }
 .FileHeader{
    background-color: orange;
 }
 .Header {
    color: blue;
    text-align: center;
    border: solid black;
 }
 .Image {
    image-orientation: -90deg;
    text-align: center;
 }
 .Body{
    padding: 2% 35%;
 }

